
        .customDashboardForm .card-header {
            background-color: #42A5F5;
            letter-spacing: 1px;
            color: #f5f5f5;
        }

        .customDashboardForm .card {
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
            background-color: #eae3e3;
            border-bottom : 2px solid black;
        }

        .customDashboardForm .card form row div {
            padding: 0;

        }

        .customDashboardForm .form-group {
            margin-bottom: 0;
        }

        .customDashboardForm label {
            padding-left: 2px;
            margin-bottom: 1px;
            /* color: #757575; */
            color: black;
            letter-spacing: 1px;
            font-weight: 500;
        }

        .customDashboardForm button[type=submit] {
            cursor: pointer;
            background-color: #0288d1;
        }

        .customDashboardForm input,
        .customDashboardForm select {
            border: 2px solid gray;
        }

        .customDashboardForm input:hover,
        .customDashboardForm select:hover {
            border: 2px solid gray ;
        }
        .customAlert .alert-danger {
            background-color: #FFCDD2;
        }

        .customAlert .alert-success {
            background-color: #E8F5E9
        }

        .customAlert>div {
            margin-bottom: 0;
        }

    